.text-center {
	text-align: center;
}

.mb-sm {
	margin-bottom: 0.8rem;
}

.mb {
	margin-bottom: 1.6rem;
}

.mb-md {
	margin-bottom: 4rem;
}

.mb-lg {
	margin-bottom: 8rem;
}

.align-items-center {
	align-items: center;
}

.clip-path-above {
	clip-path: polygon(-40% -40%, 140% -40%, 140% 140%, -40% 140%);
	z-index: 1;
}
