.row {
	max-width: $grid-width;
	margin: 0 auto;
	font-size: $font-size;

	display: flex;
	flex-wrap: wrap;

	&:not(:last-child) {
		margin-bottom: $gutter-vertical;
	}

	@media only screen and (min-width: 1400px) {
		max-width: 140rem;
	}

	.col-1-2 {
		width: calc((100% - #{$gutter-horizontal}) / 2);

		&:not(:last-child) {
			margin-right: $gutter-horizontal;
		}

		@media only screen and (max-width: 750px) {
			width: 100% !important;

			&:not(:last-child) {
				margin-right: 0;
				margin-bottom: $gutter-horizontal;
			}
		}
	}

	.col-1-4 {
		width: calc((100% - 3 * $gutter-horizontal) / 4);

		&:not(:last-child) {
			margin-right: $gutter-horizontal;
		}

		@media only screen and (max-width: 1000px) {
			width: calc((100% - $gutter-horizontal) / 2);

			&:not(:nth-last-child(-n + 2)) {
				margin-bottom: $gutter-horizontal;
			}

			&:nth-child(odd) {
				margin-right: $gutter-horizontal;
				display: flex;
				justify-content: end;
			}

			&:nth-child(even) {
				margin-right: 0;
			}
		}

		@media only screen and (max-width: 500px) {
			width: 100%;
			display: block !important;
			margin: 0 !important;

			> * {
				margin: 0 auto;
			}

			&:not(:last-child) {
				margin-bottom: $gutter-horizontal !important;
			}
		}
	}
}
